@page
@model SportsTournamentApp.Pages.Tournaments.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="p-4 mb-4 bg-light border rounded-3">
    <div class="container-fluid  py-4">
        <h1 class="display-5 fw-bold">
            <strong>@Html.DisplayFor(model => model.Tournament.Name)</strong>
        </h1>

        @if (Model.Tournament.WinningTeam != null)
        {
            <h1 class="display-5 fw-bold">
                <span>Winner:</span>
                <span class="text-success">@Html.DisplayFor(model => model.Tournament.WinningTeam.Name)</span>
            </h1>
        }
        <p class="col-md-8 fs-4">
            @Html.DisplayFor(model => model.Tournament.StartDate) -
            @(Model.Tournament.WinningTeam != null ? @Html.DisplayFor(model => model.Tournament.StartDate) : "TBD")
        </p>
        <p class="col-md-8 fs-4">@Html.DisplayFor(model => model.Tournament.Description)</p>

         @if (User.IsInRole("Admin"))
         {
        <a class="btn btn-lg btn-primary" role="button" asp-page="./Edit" asp-route-id="@Model.Tournament.ID">Edit</a>
         }
    </div>
</div>

<div class="d-flex flex-column flex-md-row flex-wrap mt-4">
    @foreach (var item in Model.Tournament.Matches)
    {
        <div class="col-12 col-md-3 pb-4 pe-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-primary" asp-page="/Teams/Details" asp-route-id="@item.TeamA.ID">
                            @Html.DisplayFor(model => item.TeamA.Name)</a> VS

                        @if (item.TeamB != null)
                        {
                            <a class="text-danger" asp-page="/Teams/Details" asp-route-id="@item.TeamB.ID">
                                @(item.TeamB.Name)
                            </a>
                        }
                        else
                        {
                            <span class="text-danger">TBD</span>
                        }
                    </h5>

                    <p class="card-text">
                        <strong>Time:</strong>  @Html.DisplayFor(model => item.MatchDate) <br />
                        <strong>Location:</strong>  @Html.DisplayFor(model => item.Location) <br />
                        <strong>Result:</strong>  @Html.DisplayFor(model => item.Result)
                    </p>
                </div>
            </div>
        </div>
    }
</div>
