@page
@model SportsTournamentApp.Pages.Tournaments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tournaments</h1>

        @if (User.IsInRole("Admin"))
        {
    <a asp-page="Create">Create New</a>
        }

<div class="container mt-4">
    @foreach (var item in Model.Tournament)
    {
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h1 class="mb-0">@Html.DisplayFor(modelItem => item.Name)</h1>
                <div class="mb-1 text-body-secondary">
                    @Html.DisplayFor(modelItem => item.StartDate) -
                    @(item.WinningTeam != null ? @Html.DisplayFor(modelItem => item.StartDate) : "TBD")
                </div>
                @if (item.WinningTeam != null) {
                    <h5>
                        <span>Winner:</span>
                        <span class="text-success">@Html.DisplayFor(modelItem => item.WinningTeam.Name)</span>
                    </h5>
                }
                <p class="card-text mb-auto">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <div class="position-relative">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="float-left m-2 btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">
                            Edit
                        </a>
                        <a class="float-left m-2 btn btn-primary" asp-page="./Delete" asp-route-id="@item.ID">
                            Delete
                        </a>
                    }
                    <a class="float-left m-2 btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">
                        See More
                    </a>
                    <span class="clearfix"></span>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/logo_tournament.png" class="card-img-top" width="200" height="250"
                        alt="@Html.DisplayFor(modelItem => item.DisplayName)">
            </div>
        </div>
    }
</div>
